<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBv5_Yk6A6YHyYVGbcENr3W-yQn7-2C5fA</string>
	<key>GCM_SENDER_ID</key>
	<string>313222019148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pHealthy</string>
	<key>PROJECT_ID</key>
	<string>fir-max30100</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-max30100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:313222019148:ios:d8d80c82ab7a0578545ce9</string>
	<key>DATABASE_URL</key>
	<string>https://fir-max30100-default-rtdb.firebaseio.com</string>
</dict>
</plist>